# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\yafar\OneDrive\Рабочий стол\Обучение\Уроки\2. 1 четверь\2. Профессиональная верстка\6\homework\project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
