* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 723px) {
  .container {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }

  .header {
    height: fit-content;
    position: relative;
    max-width: 100%;
    padding-bottom: 19px;
  }
  .header__topLine {
    height: 27px;
    background-color: #f6f6f6;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    padding-top: 8px;
  }
  .header__list-left {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
  .header__list-right {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .header__link {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e7e;
    text-decoration: none;
    line-height: 11px;
    display: flex;
    align-items: center;
  }
  .header__link i {
    font-size: 7px;
    margin-left: 3px;
  }
  .header__link:hover {
    color: black;
  }
  .header__list-item {
    display: flex;
    align-items: center;
  }
  .header__list-item_none {
    display: none;
  }
  .header__sub-headerList {
    margin-top: 40px;
    margin-bottom: 26px;
  }
  .header__register-link {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e7e;
    display: block;
  }
  .header__register-link:hover {
    color: red;
  }
  .header__find-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    border: 1px solid #e1e1e1;
    margin-top: 22px;
  }
  .header__find-input {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
    width: calc(100% - 36px);
    height: 100%;
    padding-left: 11px;
    padding-right: 5px;
    outline: none;
    border: none;
  }
  .header__find-btn {
    width: 36px;
    height: 100%;
    outline: none;
    background-color: #fff;
    font-size: 13px;
    color: #888888;
    border: none;
  }
  .header__find-btn:hover {
    color: black;
  }
  .header__bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: fit-content;
    align-items: start;
  }
  .header__nav {
    display: flex;
    height: fit-content;
    flex-direction: column;
  }
  .header__nav:hover .header__nav-link {
    color: red;
  }
  .header__nav:hover .header__nav-link i {
    transform: rotate(90deg);
  }
  .header__nav:hover .header__menu {
    display: flex;
  }
  .header__nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  .header__menu {
    position: relative;
    list-style-type: none;
    display: none;
    flex-direction: column;
    padding: 10px 6px;
    row-gap: 7px;
  }
  .header__menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
  }
  .header__menu-link:hover {
    color: red;
  }
  .header__cart {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565656;
    text-decoration: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  .header__cart i:hover {
    color: red;
  }

  .logo-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
  }

  .logo-img {
    width: 44px;
  }

  .logo-text {
    font-size: 44px;
    line-height: 37px;
    font-weight: 700;
    color: #454545;
    margin-left: 12px;
  }

  .promo {
    padding-bottom: 20px;
  }
  .promo_block {
    background-color: #cccccc;
    width: 100%;
  }
  .promo__top-block {
    min-height: 178px;
    margin: 0 auto;
  }
  .promo__bottom-blocks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
  }
  .promo__exlusive {
    height: 156px;
  }
  .promo__hottest {
    height: 537px;
  }
  .promo__jewelry {
    height: 189px;
  }
  .promo__accesories {
    height: 189px;
  }
  .promo__lookbook {
    height: 401px;
  }
  .promo__new {
    height: 189px;
  }
  .promo__flex-block-mini {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .promo__flex-block-max {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (min-width: 724px) {
  .container {
    max-width: calc(100% - 42px);
    margin: 0 auto;
  }

  .header {
    height: fit-content;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 19px;
  }
  .header__topLine {
    height: 27px;
    background-color: #f6f6f6;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    width: 100%;
  }
  .header__list-left {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
  .header__list-right {
    width: calc(5 / 12 * 100%);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .header__link {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e7e;
    text-decoration: none;
    line-height: 11px;
    display: flex;
    align-items: center;
  }
  .header__link i {
    font-size: 7px;
    margin-left: 3px;
  }
  .header__link:hover {
    color: black;
  }
  .header__list-item {
    display: flex;
    align-items: center;
  }
  .header__sub-headerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 43px;
  }
  .header__register-link {
    display: none;
  }
  .header__register-link:hover {
    color: red;
  }
  .header__find-form {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border: 1px solid #e1e1e1;
  }
  .header__find-input {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
    width: calc(100% - 30px);
    height: 100%;
    padding-left: 11px;
    padding-right: 5px;
    outline: none;
    border: none;
  }
  .header__find-btn {
    width: 30px;
    height: 100%;
    outline: none;
    background-color: #fff;
    font-size: 13px;
    color: #888888;
    border: none;
  }
  .header__find-btn:hover {
    color: black;
  }
  .header__bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .header__nav {
    display: flex;
    width: 100%;
  }
  .header__nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
    display: none;
    column-gap: 10px;
    align-items: center;
  }
  .header__menu {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
  }
  .header__menu-link:hover {
    color: red;
  }
  .header__cart {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565656;
    text-decoration: none;
    display: none;
    column-gap: 10px;
    align-items: center;
  }

  .logo-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
  }

  .logo-img {
    width: 44px;
  }

  .logo-text {
    font-size: 44px;
    line-height: 37px;
    font-weight: 700;
    color: #454545;
    margin-left: 12px;
  }

  .promo {
    padding-bottom: 30px;
    max-width: 100%;
    margin: 0 auto;
  }
  .promo_block {
    background-color: #cccccc;
    width: 100%;
  }
  .promo__top-block {
    max-width: 100%;
    min-height: 428px;
  }
  .promo__bottom-blocks {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    row-gap: 20px;
    margin-top: 30px;
    flex-direction: column;
    height: 680px;
  }
  .promo__exlusive {
    width: calc((100% - 42px)/3*2 + 21px);
    height: 266px;
  }
  .promo__hottest {
    width: calc((100% - 42px)/3);
    height: 432px;
    order: 1;
  }
  .promo__jewelry {
    width: 100%;
    height: 154px;
  }
  .promo__accesories {
    width: 100%;
    height: 154px;
  }
  .promo__lookbook {
    width: calc(50% - 10.5px);
    height: 328px;
  }
  .promo__new {
    width: calc((100% - 42px)/3);
    height: 162px;
    order: 2;
  }
  .promo__flex-block-mini {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: calc(50% - 10.5px);
  }
  .promo__flex-block-max {
    display: flex;
    column-gap: 20px;
    width: calc((100% - 42px)/3*2 + 21px);
  }
}

/*# sourceMappingURL=style.css.map */
