@media screen and (max-width: 1600px) {
  .container {
    width: 72%;
    margin: 0 auto;
  }

  .header {
    height: 75px;
    width: 100%;
    min-width: 1140px;
    box-shadow: none;
    border: none;
    position: absolute;
    background-color: transparent;
  }
  .header .container {
    width: 100%;
  }
  .header .logo__text {
    display: none;
  }
  .header .logo {
    width: 75px;
    height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .header .logo img {
    width: 44px;
    margin: 0;
  }
  .header .browse {
    display: none;
  }
  .header .header__form {
    width: 75px !important;
    height: 75px !important;
    background-color: transparent !important;
  }
  .header .header__form label {
    display: none !important;
  }
  .header .header__form button {
    border: none !important;
    font-size: 27px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .header .header__right .menu-tablet:hover .menu-tablet__list {
    display: flex;
  }
  .header .header__right .menu-tablet {
    display: flex;
    order: 0;
    position: relative;
    width: 32px;
    height: 75px;
  }
  .header .header__right .menu-tablet .menu-tablet__bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .header .header__right .menu-tablet .menu-tablet__bar i {
    font-size: 23px;
    color: #595959;
    transition: color 0.3s;
  }
  .header .header__right .menu-tablet__list {
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 19px;
    border: 1px solid #e9e9e9;
    top: 74px;
    left: -92px;
    display: none;
    flex-direction: column;
    list-style-type: none;
    row-gap: 7px;
  }
  .header .header__right .menu-tablet__list::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
    top: -7px;
    left: 100px;
  }
  .header .header__right .menu-tablet__link {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    display: block;
    text-decoration: none;
    transition: color 0.3s;
  }
  .header .header__right .menu-tablet__link:hover {
    color: #ef5b70;
  }
  .header .header__right .menu-tablet:hover .menu-tablet__bar i {
    color: #ef5b70;
  }
  .header .header__myacc {
    width: 75px !important;
    height: 75px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: transparent !important;
    border: none !important;
    order: 1;
  }
  .header .header__myacc .header__myacc-text {
    display: none;
  }
  .header .header__myacc .fa-user {
    display: inline;
    color: #555555;
    font-size: 29px;
  }
  .header .header__myacc:hover {
    outline: none !important;
  }
  .header .header__myacc:hover .fa-user {
    color: #ef5b70;
  }
  .header .cartBtn {
    width: 75px !important;
    height: 75px !important;
    display: flex;
    margin: 0;
    background-color: #222222;
    order: 2;
  }
  .header .cartBtn .cartBtn-img {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
  }
  .header .cartBtn .cartBtn-img .fa-shopping-cart {
    color: #e8e8e8 !important;
    font-size: 29px;
  }
  .header .cartBtn .cartBtn-menu {
    top: 74px;
    left: -187px;
  }
  .header .cartBtn .cartBtn-menu::before {
    left: 219px;
  }
  .header .cartBtn:hover .fa-shopping-cart {
    color: #ef5b70 !important;
  }

  .header__menu {
    display: none;
  }

  .promo {
    height: fit-content;
    width: 100%;
    min-width: 1140px;
    background-color: #f1e4e6;
  }
  .promo .promo_content {
    display: flex;
  }
  .promo .container {
    width: 100%;
  }
  .promo__image {
    content: url("../img/bg/promo_tablet.jpg");
    width: 50%;
    position: relative !important;
    top: 0 !important;
  }
  .promo__text {
    width: 50%;
    border: none !important;
    padding-left: 8% !important;
    margin: 0 !important;
    padding-right: 30px;
    display: flex;
    align-items: center;
  }
  .promo__text-content {
    border-left: 12px solid #d56d7d;
    padding-left: 12px;
  }

  .offers {
    min-width: 1140px;
    min-height: fit-content;
  }
  .offers__content {
    display: grid !important;
    grid-template-columns: repeat(3, calc(100%/3)) !important;
    grid-template-rows: 55% 45% !important;
    padding: 5% 0;
  }
  .offers .offers_big, .offers .offers_small {
    margin: 0 !important;
    height: 100%;
    transition: transform 0.5s;
  }
  .offers .offers_big:hover,
.offers .offers_small:hover {
    transform: scale(1.2);
    box-shadow: none;
  }
  .offers .offers_big:hover .offers__bg img,
.offers .offers_small:hover .offers__bg img {
    filter: brightness(30%) hue-rotate(350deg);
  }
  .offers .offers__bg img {
    width: 100% !important;
    height: 100%;
  }
  .offers__left {
    display: grid;
    grid-template-rows: 100% 81.82%;
    grid-template-columns: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .offers__left .offers_big {
    width: 100%;
    min-width: 280px;
    padding: 0 4% 2% 0;
  }
  .offers__left .offers_big img {
    content: url("../img/photo/offers/tablet_man.jpg");
    filter: brightness(50%) hue-rotate(350deg);
    transition: filter 0.2s;
  }
  .offers__left .offers_small {
    width: 300%;
    min-width: 828px;
    padding-top: 2%;
  }
  .offers__left .offers_small img {
    content: url("../img/photo/offers/tablet_accesories.jpg");
    filter: brightness(50%) hue-rotate(350deg);
  }
  .offers__left .offers_small:hover {
    transform: scale(1.1);
  }
  .offers__right {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 2/4;
    grid-template-rows: 100%;
  }
  .offers__right .offers_big {
    width: 100%;
    min-width: 280px;
    padding: 0 0 2% 4%;
  }
  .offers__right .offers_big img {
    content: url("../img/photo/offers/tablet_kids.jpg");
    filter: brightness(50%) hue-rotate(350deg);
  }
  .offers__right .offers_small {
    width: 100%;
    min-width: 280px;
    padding: 0 2% 2% 2%;
  }
  .offers__right .offers_small img {
    content: url("../img/photo/offers/tablet_woman.jpg");
    filter: brightness(50%) hue-rotate(350deg);
  }
  .offers__text {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0) !important;
    top: 0 !important;
    row-gap: 5px;
  }
  .offers__text_top {
    color: #ffffff !important;
  }
  .offers__text::after {
    content: "";
    width: 125px;
    height: 5px;
    border-bottom: 1px solid #ffffff;
  }

  .featured {
    min-width: 1140px;
    height: fit-content;
  }
  .featured .items-block_off {
    display: none;
  }
  .featured__items {
    display: grid !important;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 44% 4% 4% 4% 44%;
    row-gap: 0 !important;
    max-height: 1146px;
  }
  .featured__items_block {
    height: fit-content !important;
    width: 93% !important;
    padding-bottom: 20px;
  }
  .featured__items .item-block_1 {
    grid-row: 1/4;
  }
  .featured__items .item-block_1 img {
    content: url("../img/photo/featured/tablet/1.jpg");
  }
  .featured__items .item-block_1 .featured__items_text::before {
    content: "Ellery x M'O Capsule" !important;
  }
  .featured__items .item-block_1 .featured__items_text::after {
    content: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi." !important;
  }
  .featured__items .item-block_2 {
    grid-row: 1/2;
    justify-self: center;
  }
  .featured__items .item-block_2 img {
    content: url("../img/photo/featured/tablet/2.jpg");
  }
  .featured__items .item-block_2 .featured__items_text::before {
    content: "Ellery x M'O Capsule" !important;
  }
  .featured__items .item-block_2 .featured__items_text::after {
    content: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool." !important;
  }
  .featured__items .item-block_3 {
    grid-row: 1/3;
    justify-self: right;
  }
  .featured__items .item-block_3 img {
    content: url("../img/photo/featured/tablet/3.jpg");
  }
  .featured__items .item-block_3 .featured__items_text::before {
    content: "HOUSE OF HARLOW KIMONO" !important;
  }
  .featured__items .item-block_3 .featured__items_text::after {
    content: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi." !important;
  }
  .featured__items .item-block_4 {
    grid-row: 5/6;
    align-self: end;
  }
  .featured__items .item-block_4 img {
    content: url("../img/photo/featured/tablet/4.jpg");
  }
  .featured__items .item-block_4 .featured__items_text::before {
    content: "Ellery x M'O Capsule" !important;
  }
  .featured__items .item-block_4 .featured__items_text::after {
    content: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool." !important;
  }
  .featured__items .item-block_5 {
    grid-row: 3/6;
    justify-self: center;
    align-self: end;
  }
  .featured__items .item-block_5 img {
    content: url("../img/photo/featured/tablet/5.jpg");
  }
  .featured__items .item-block_5 .featured__items_text::before {
    content: "Ellery x M'O Capsule" !important;
  }
  .featured__items .item-block_5 .featured__items_text::after {
    content: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi." !important;
  }
  .featured__items .item-block_6 {
    grid-row: 4/6;
    justify-self: right;
    align-self: end;
  }
  .featured__items .item-block_6 img {
    content: url("../img/photo/featured/tablet/6.jpg");
  }
  .featured__items .item-block_6 .featured__items_text::before {
    content: "HOUSE OF HARLOW KIMONO" !important;
  }
  .featured__items .item-block_6 .featured__items_text::after {
    content: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi." !important;
  }
  .featured__items_link {
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    min-width: 100%;
  }
  .featured__items_link img {
    height: 73% !important;
  }
  .featured__items_link .featured__items_text {
    font-size: 0 !important;
    padding-right: 15px;
    flex: 1 !important;
    overflow: hidden;
    margin-top: 25px !important;
  }
  .featured__items_link .featured__items_text::before {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
  }
  .featured__items_link .featured__items_text::after {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #5d5d5d;
    display: block;
    line-height: 20px;
    text-transform: initial;
    margin-top: 5px;
  }
  .featured__items_link .featured__items_text::after .featured__items_price {
    margin-top: 5px;
  }
  .featured .featured__add {
    display: flex !important;
    width: 100% !important;
    height: 65% !important;
    justify-content: center !important;
    align-items: center;
  }
  .featured .featured__add_btn {
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
  }

  .offerPromo {
    min-width: 1140px;
    height: fit-content;
    margin-top: 7%;
    background-color: #222224;
  }
  .offerPromo__left {
    display: none !important;
  }
  .offerPromo__right {
    width: 100% !important;
    height: fit-content !important;
  }
  .offerPromo__list {
    padding: 89px 0 114px 0 !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    grid-column-gap: 5%;
  }
  .offerPromo__info {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .offerPromo__info_text {
    margin-left: 0 !important;
    text-align: center;
    margin-top: 23px !important;
  }
  .offerPromo__info .offerPromo__img-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  .offerPromo article {
    flex: 1;
  }

  .subscribe {
    min-width: 1140px;
    height: fit-content;
    background: #fff;
  }
  .subscribe .container {
    width: 100% !important;
  }
  .subscribe__content {
    flex-direction: column;
  }
  .subscribe__left {
    order: 1;
    width: 100% !important;
    border-right: none !important;
    background: url(../img/bg/subscribe_bg.jpg) center center no-repeat;
    padding: 73px 0 94px 0 !important;
    flex-direction: column;
    align-items: center !important;
  }
  .subscribe__left img {
    margin: 0 !important;
  }
  .subscribe__left .subscribe__info {
    max-width: 711px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px !important;
  }
  .subscribe__left .subscribe__info_text {
    text-align: center !important;
    display: flex;
    flex-direction: column;
  }
  .subscribe__left .subscribe__info_name {
    margin-top: 30px !important;
  }
  .subscribe__left .subscribe__info .subscribe__pagination {
    margin-top: 35px !important;
  }
  .subscribe__right {
    display: flex;
    padding: 0 !important;
    width: 72% !important;
    margin: 0 auto;
  }
  .subscribe__right .subscribe-tablet-list {
    display: grid;
    width: 50%;
    grid-template-columns: 33% 33%;
    grid-template-rows: 44% 44%;
    grid-gap: 20px;
    justify-content: center;
    border-right: 1px solid #e7e7e7;
    padding: 93px 15px !important;
  }
  .subscribe__right .subscribe-tablet-list img {
    width: 100%;
    transition: filter 0.3s;
  }
  .subscribe__right .subscribe-tablet-list .subscribe-tablet-link:hover img {
    filter: brightness(50%);
  }
  .subscribe__right .subscribe__right-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .subscribe__right .subscribe__right-wrapper .subscribe__right-form-wrapper {
    width: fit-content;
  }

  footer {
    min-width: 1140px;
    height: fit-content;
  }
  footer .footer__info:first-child {
    min-width: 135px;
  }
  footer .footer__info {
    min-width: 170px;
  }
}

/*# sourceMappingURL=style-tablet.css.map */
